<div class="wrapper">
    <h1 class="logo">другофильтр</h1>
    <div class="main">
        <header class="header">
            <h2 class="header__title">Выберите друзей</h2>
            <button class="header__close">
                <img src="./src/images/close.png" alt="" class="header__close-image">
            </button>
        </header>
        <div class="search">
            <div class="search__item">
                <input type="text" class="search__input search__input-left" placeholder="Начните вводить имя друга">
            </div>
            <div class="search__item">
                <input type="text" class="search__input search__input-right" placeholder="Название">
            </div> 
        </div>
        <div class="friends">
            <div class="friends__column friends__column-left">
                <h3 class="friends__column-title">Ваши друзья</h3>
                <ul class="friends__list" id="friends__list-left"></ul>
            </div>
            <div class="friends__column friends__column-right">
                <h3 class="friends__column-title">Друзья в списке</h3>
                <ul class="friends__list" id="friends__list-right"></ul>
            </div>
        </div>
        <footer class="footer">
            <button class="footer__button">Сохранить</button>
        </footer>
    </div> 
</div>