    {{#each items}}
        <li class="friend" draggable="true">
            <div class="friend__info">
                <img src="{{photo_100}}" alt="" class="friend__photo" draggable="false">
                <div class="friend__name">{{first_name}} {{last_name}}</div>
            </div>
            <div class="friend__button friend__button-left"></div>
        </li>
    {{/each}}