.footer{
    background-color: #f0f0f0;
    height: 45px;
    text-align: right;
    position: relative;
    border-radius: 0 0 7px 7px;
}

.footer__button{
    background-color: #ff8663;
    border: none;
    color: #fff;
    padding: 1.5%;
    margin: 1%;
    border-radius: 7px;
    outline: none;
}